.login-links {
  padding: 0;
}
.login-links ul {
  list-style: none;
}
.login-links ul li {
  display: inline;
  margin-right: 1rem;
}
.login-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  font-weight: 600;
}
.login-links ul li .login {
  border-bottom: 3px solid #f9b17a;
  padding: 0.2rem 0.4rem;
}
.login-links ul li .signup {
  color: #676f9d;
}

.info {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  color: #fff;
}
.info-title {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 0.525rem;
}
.info-text {
  font-weight: 400;
  font-size: 0.78rem;
}

.form-main {
  max-width: 600px;
  background-color: #424769;
  padding: 0.85rem;
  border-left: 2px solid transparent;
}
.form-main .form-input:focus {
  outline: none;
}
.form-main .form-input:focus + lable {
  color: #f9b17a;
}
.form-main:focus-within {
  border-left: 5px solid #f9b17a;
  padding-left: 10px;
  transition: all 0.3s ease;
}

.input-group {
  margin-bottom: 6px;
}
.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #676f9d;
  font-weight: 600;
  font-size: 0.725rem;
}
.input-group input[type=email], .input-group input[type=password] {
  margin-top: 2px;
  font-family: "Raleway", sans-serif;
  width: 100%;
  background-color: #424769;
  color: #fff;
  border: none;
  outline: none;
}

.checkbox {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-start;
}
.checkbox label {
  margin-left: 0.225rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.btn {
  padding: 0.7rem 3.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: #f9b17a;
  box-shadow: 0 0 10px rgba(249, 177, 122, 0.5);
  cursor: pointer;
  outline: none;
  border: none;
}

.other-link {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.other-link p {
  font-weight: 500;
  font-size: 0.725rem;
  color: #676f9d;
}
.other-link .social-links {
  display: flex;
  gap: 1rem;
}
.other-link .social-links i {
  font-size: 24px;
  color: #676f9d;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #1a1c28;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .heading {
  text-align: center;
  color: #fff;
  margin-bottom: 3.5rem;
}
body .heading-main {
  font-weight: 600;
}
body .heading-sub {
  padding-top: 0.25rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.container {
  display: flex;
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 10px 10px 60px 25px rgba(0, 0, 0, 0.3);
}
.container .form-left {
  max-width: 800px !important;
  width: 50%;
  height: 100%;
  padding: 3rem;
  border-radius: 1rem 0 0 1rem;
  background-color: #2d3250;
}
.container .form-right {
  max-width: 800px !important;
  width: 50%;
  padding: 3rem;
  border-radius: 0 1rem 1rem 0;
  background: url("../image/landscape.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 968px) {
  .container {
    flex-direction: column-reverse;
  }
  .container .form-left {
    width: 100%;
    border-radius: 0 0 1rem 1rem;
  }
  .container .form-right {
    width: 100%;
    height: 100vh;
    border-radius: 1rem 1rem 0 0;
  }
}/*# sourceMappingURL=main.css.map */