@use 'color' as *;
@use 'mixins' as *;
@use 'typography' as *;

.form-main {
    max-width: 600px;
    background-color: $color-2;
    padding: 0.85rem;
    border-left: 2px solid transparent;

    .form-input {
        &:focus {
            outline: none;

        & + lable {
            color: $color-5;
            }
        } 
    }

    &:focus-within {
        border-left: 5px solid $color-5;
        padding-left: 10px;
        transition: all 0.3s ease;
    }
}

.input-group {
    margin-bottom:6px;

    label {
        display: block;
        margin-bottom: 5px;
        color: $color-1;
        @include font-decorate(0.725rem, 600);
    }

    input[type='email'], input[type='password'] {
        margin-top: 2px;
        font-family: $font-Raleway;
        width: 100%;
        background-color: $color-2;
        color: $color-white;
        border: none;
        outline: none;
    }
}

.checkbox {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;

    label {
        margin-left: 0.225rem;
        color: $color-white;
        font-weight: 500;
        cursor: pointer;
        }
}
